# Python - Ambiente Virtuale
.venv/
venv/
ENV/

# Python - Cache e file compilati
**/__pycache__/
*.py[cod]
*$py.class

# Cose momentanee che non mettò
# Cartella "Lettere"
# Lettere/

# model.pkl
model.pkl

# OpenCV e MediaPipe - Residui
.ipynb_checkpoints/

# cartella dei 'moduli node.js' -> ci sarà un file bat che automizza tutto
node_modules/

# Dipendenze Node
node_modules/
package-lock.json

# File di sistema e log
.DS_Store
npm-debug.log*

# solo per il "branch" VINCI
temp/

# Dataset (Opzionale)
# Se vuoi che il tuo CSV rimanga privato, decommenta la riga sotto:
# dataset_mediapipe.csv